<h1>Sell Your Car Here!</h1>
<p>Enter car information in the forms below:</p>
<br>
<br>

<form action="/cars" method="post">

    <div class="form-group">
      <label for="make-model">Make and Model:</label>
      <input id="make-model" name="make-model" type="text">
    </div>


    <div class="form-group">
      <label for="milage">Milage:</label>
      <input id="milage" name="milage" type="text">
    </div>

    <div class="form-group">
      <label for="price">Selling Price:</label>
      <input id="price" name="price" type="text">
    </div>
  <br>
  <button type="submit">Submit</button>
</form>
