
<h1>Sells Your Car Here</h1>
<ul>
    @foreach(var car in Model)
    {
    <li>@car.GetMakeModel()</li>
    <li>@car.GetMilage()</li>
    <li>@car.GetPrice()</li>
    }
</ul>
<p><a href="/cars/new">Add another Car.</a></p>

<form action="/cars/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>

</form>
